@media ( max-width: 1980px ) {
    .benefits {
        &__icons {
            width: 240px;
        }
    }
    
}
@media ( max-width: 1024px ) {
    .container {
        width: 100%;
        padding: 21px 30px 24px 30px;
    }
    .promo {
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__icons {
            width: 385px;
            margin-top: 53px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .button {
        font-size: 11px;
        &_main {
            width: 250px;
            height: 40px;
            font-size: 12px;
        }
    }
    .benefits {
        &__icons {
            font-size: 12px;
        }
        span {
            font-size: 15px;
        }
    .title {
    font-size: 27px;
    }
    }
    .carousel {
        &__inner {
            width: 500px;
        }
        img {
            width: 100%;
            
        }
        .slick-list {
            min-height: 400px;
        }
    }
    button {
        img {
            width: 24px;
            height: 38px;
        }
    }
    
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}


@media ( max-width: 990px ) {
    .feedback {
        &__descr {
            width: 530px;
        }
    }
    .carousel {
        min-height: 250px;
    }
    
}

@media ( max-width: 835px ) {
    .benefits {
        &__icons {
            width: 220px;
        }
    }
    .consultation {
        &__descr {
            font-size: 19px;
        }
    }
    .title {
        &_left {
            font-size: 31px;
        }
    }
    .feedback {
        &__descr {
            width: 450px;
        }
    }
    
}

@media ( max-width: 783px ) {
    .promo {
        padding-bottom: 20px;
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 364px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .header {
        &__logo {
            width: 165px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .button {
        width: 120px;
        height: 27px;
        font-size: 11px;
        &_main {
            width: 210px;
            height: 30px;
        }
    }
    .benefits {
        &__icons {
            width: 198px;
        }
    }
    .consultation {
        &__descr {
            font-size: 17px;
        }
    }
    .title {
        &_left {
            font-size: 28px;
        }
    }
    .button {
        &_submit {
            width: 300px;
            height: 55px;
        }
    }
    .feedback {
        img {
            width: 150px;
            height: 150px;
        }
    }
    .footer {
        &__info {
            width: 420px;
            height: 240px;
        }
        &__addr {
            font-size: 17px;
            margin-bottom: 25px;

        }
        &__phone {
            font-size: 17px;
            margin-bottom: 30px;
        }
    }
       
}

@media ( max-width: 700px ) {
    .benefits {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            :nth-child(1n+2) {
                margin-top: 40px;
            }
        }
        &__icons {
            width: 300px;
            font-size: 14px;
            span {
                font-size: 18px;
            }
        }
    }
    .consultation {
        &__descr {
            font-size: 14px;
        }
    }
    .title {
        &_left {
            font-size: 24px;
        }
    }
    .feedback {
        &__descr {
            width: 400px;
            font-size: 14px;
        }
        &__item {
            img {
                width: 140px;
                height: 140px;
                margin-right: 45px;
            }
        }
    }
}

@media ( max-width: 660px ) {
    .feedback {
        &__descr {
            width: 300px;
            font-size: 12px;
        }
        &__item {
            img {
                width: 120px;
                height: 120px;
            }
        }
}
}

@media ( max-width: 576px ) {
    .promo {
        background-position: 0em;
        &__header {
            margin: 0 auto;
            font-size: 30px;
            line-height: 1.5;
        }
        &__subheader {
            margin: 0 auto;
            font-size: 17px;
        }
        &__icons {
            margin: 53px auto 0 auto;
            width: 300px;
        }
        &__icon {
            img {
            width: 30px;
            height: 30px;
            }
        }
        &__link {
            font-size: 16px;
            margin: 18px auto 0 auto;
        }
    }
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 50%;
        }
        &__contacts {
            width: 40%;
        }
        &__phone {
            font-size: 15px;
        }
    }
        
    .button {
        width: 150px;
        height: 30px;
        font-size: 12px;
        &_main {
            width: 300px;
            height: 50px;
            margin: 0 auto;
            margin-top: 65px;
            font-size: 16px;
        }
        &_submit {
            width: 300px;
            height: 35px;
            background-color: #c70101;
            font-size: 16px;
        }
    }
    .consultation {
        min-height: 665px;
        padding: 77px 0 45px 0;
        &__descr {
            width: 340px;
            margin: 44px auto 0 auto;
            text-align: center;
        }
        form {
            margin: 34px auto 0 auto;
        }
    }
    .title {
        &_left {
            text-align: center;
        }
    }
}

@media ( max-width: 450px ) {
    .promo {
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 280px;
        }
        &__icon {
            font-size: 11px;
            img {
            margin-bottom: 14px;
            }
        }
        &__link {
            font-size: 16px;
            margin: 18px auto 0 auto;
        }
    }
    .button {
        &_main {
            width: 270px;
            height: 37px;
            margin: 0 auto;
            margin-top: 65px;
            font-size: 14px;
        }
    }
}
